.text {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  padding: 7px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  transition: 300ms;
  font-family: 'Montserrat', sans-serif;
 p {
    margin-top: 2px;

  }
}
.text:hover{
  background-color: rgba($color: #000000, $alpha: 0.1);
}


.containerLinks ul{
   margin-top: -80px;
   display: block;
   align-items: center;
   justify-content: center;
   flex: 1;
   text-align: center;
   
}
.containerLinks ul li{
  list-style: none;
  border: none;
  padding: 5px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
 
}
.containerLinks ul li a {
  
  text-decoration: none;
  color: #e25352;
  
}
.containerLinks ul li button{
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
  margin-left: 10px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  color: #e25352;
 p {
    margin-top: 2px;

  }
}
.linksWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.navButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navMenu {
 position: relative;
}

.navMenuWrapper {
  position: absolute;
  background: #fff;
  width: 250px;
  height: 180px;
  top: -10%;
  right: 0;
  left: -7%;
  border-radius: 10px;
  text-align: center;
  padding-top: 80px;
  z-index: 999;
}
@media screen and (max-width: 1000px){
  .navMenu{
    display: none;
  }
}







